@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic');

/*@font-face {
  font-family: 'Mono';
  src: url('../fonts/PTM55F_W.woff') format('woff'),
  url('../fonts/PTM55F_W.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}*/

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-extrabolditalic.woff2') format('woff2'),
  url('../fonts/opensans-extrabolditalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-italic.woff2') format('woff2'),
  url('../fonts/opensans-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-light.woff2') format('woff2'),
  url('../fonts/opensans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-lightitalic.woff2') format('woff2'),
  url('../fonts/opensans-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular.woff2') format('woff2'),
  url('../fonts/opensans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-semibold.woff2') format('woff2'),
  url('../fonts/opensans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-semibolditalic.woff2') format('woff2'),
  url('../fonts/opensans-semibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold.woff2') format('woff2'),
  url('../fonts/opensans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bolditalic.woff2') format('woff2'),
  url('../fonts/opensans-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
  url('../fonts/opensans-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}