footer {
  padding: 30px 0;
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

  .footer-left-wrap {
    .footer-logo {
      display: inline-block;
      margin-bottom: 30px;
      max-width: 250px;
      img {
        width: 100%;
      }
    }
    .footer-about-text {
      color: $light-grey;
      font-size: 12px;
      margin-bottom: 10px;
    }
    .footer-nefabrika {
      font-size: 12px;
      text-transform: uppercase;
      color: $light-grey;
      text-decoration: underline;
      transition: all .3s ease;
      &:hover {
        color: red;
        text-decoration: none;
      }
    }
  }
  .nav-social {
    margin-bottom: 10px;
    .social-link {
      i {
        margin-right: 5px;
        color: $light-grey;
        font-size: 18px;
      }
      color: $dark-blue;
      font-weight: 600;
      font-size: 14px;
    }
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
    .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }
  .nav-item {
    .dropdown-menu {
      position: absolute;
      padding: 0;
      border-radius: 0;
      .dropdown-item {
        padding: 10px 15px;
        color: $dark-blue !important;
        font-size: 15px;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, .15);
        }
        &:hover {
          background-color: $light-sky;
        }
      }
    }
    .dropdown-submenu {
      position: relative;
    }
    .dropdown-submenu > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -1px;
      margin-left: -1px;
    }
    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }
    .dropdown-submenu > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
    }
    .dropdown-submenu:hover > a:after {
      border-left-color: #fff;
    }
    .dropdown-submenu.pull-left {
      float: none;
    }
    .dropdown-submenu.pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
    }
  }
  .nav-other {
    display: inline-block;
    margin-bottom: 7px;
    color: $light-blue;
    font-size: 14px;
  }
}