/* global page styles */
html, body {
  background: #fff;
  font-size: 16px;
  color: $dark-blue;

  min-height: 100vh;
  /*font-variant-numeric: lining-nums;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  overflow-x: hidden;
  /*overflow-y: auto;*/
  &.no-scroll {
    overflow: hidden !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
}

body {
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: auto;
}

/* support class styles */
.img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

input[type="image"] {
  height: auto !important;
  max-width: 100% !important;
}

/* widgets styles */
.btn, .form-control {
  box-shadow: none !important;
}

.btn {
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.25s ease;
  &:active {
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.4) !important;
  }

  &.blue {
    background-color: $light-blue;
    color: white;
    border: 2px solid $light-blue;
    &:hover {
      background-color: white;
      color: $dark-blue;
    }
  }
  &.blue-border {
    background-color: transparent;
    color: $dark-blue;
    border: 2px solid $light-blue;
    &:hover {
      background-color: $light-blue;
      color: white;
    }
  }
  &.white-border {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    &:hover {
      background-color: white;
      color: #155290;
    }
  }
  &.orange {
    background-color: $orange;
    color: white;
    border: 2px solid $orange;
    &:hover {
      color: $orange;
      background-color: white;
      border: 2px solid $orange;
    }
  }
}

.modal {
  .modal-content {
    background-color: #f5f7fa;
    border-radius: 0;
    border: 4px solid $medium-sky;
  }
  .modal-header {
    border-bottom: none;
    .modal-title {
      font-size: 30px;
      margin-top: 20px;
    }
    .close {
      font-size: 36px;
      position: absolute;
      right: 20px;
      padding: 10px;
    }
  }
  .modal-body {
    .form-group {
      label {
        font-size: 14px;
        color: $dark-grey;
      }
      &.has-error {
        .form-control {
          border: 1px solid darkred;
        }
        .error {
          color: darkred;
        }
      }
      &.has-success {
        .form-control {
          border: 1px solid forestgreen;
        }
      }
    }
  }
}

.nav-link {
  position: relative;
  color: $light-blue;
  text-decoration: none !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  transition: all .2s ease;
  &:before {
    position: absolute;
    content: '';
    width: auto;
    border-bottom: 2px solid $light-blue;
    right: .5rem;
    left: .5rem;
    bottom: 0;
    transition: all .2s ease;
  }
  &:hover, &:active, &:focus {
    color: $orange;
    &:before {
      right: 50% !important;
      left: 50% !important;
    }
  }
}

.breadcrumb-wrap {
  .breadcrumb {
    padding: 20px 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: white;
  }
  .breadcrumb-item {
    font-size: 14px;
    &.active {
      color: $light-grey;
    }
  }
  .breadcrumb-link {
    color: $light-blue;
    text-decoration: none !important;
    transition: all .15s ease;
    &:hover {
      color: $orange;
    }
  }
}

.pagination-wrap {
  .pagination {
    padding: 20px 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: white;
  }
  .page-item {
    &.active {
      .page-link {
        background-color: $light-blue !important;
        color: white;
      }
    }
    &.disabled > span {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      border: 1px solid #dee2e6;
      color: #6c757d;
      background-color: #fff;
    }
  }
  .page-link {
    border-radius: 0 !important;
    color: $light-blue;
    box-shadow: none !important;
    &:hover {
      background-color: $light-sky;
    }
  }
}

.card-wrap {
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: all .2s ease;
  .card-text {
    padding: 30px 20px;
  }
  .card-date {
    color: $light-grey;
    font-size: 14px;
    margin-bottom: 10px;
    i {
      margin-right: 7px;
    }
  }
  .card-desc {
    overflow: hidden;
  }
  .card-id {
    color: $light-grey;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .card-title {
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .card-price {
    font-weight: 600;
    font-size: 15px;
    &:after {
      content: "\20BD";
      margin-left: 7px;
    }
  }
  &.no-pic {
    .card-text {
      padding: 40px 20px;
    }
    .card-desc {
      overflow: hidden;
      font-size: 24px;
    }
  }
  .card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    box-shadow: 0px 5px 14.25px 0.75px rgba(1, 113, 190, 0.5);
  }
}

/* common blocks styles */
.cards-block {
  .block-title-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    .block-title {
      margin-bottom: 0px;
      font-size: 40px;
      font-weight: 600;
      color: $dark-blue;
    }
    .block-link {
      height: 30px;
      padding: 0 .5rem;
    }
  }
}



