header {
  .navbar {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    .navbar-brand {
      max-width: 250px;
      margin-right: 0;
      img {
        width: 100%;
      }
    }
    .navbar-toggler {
      outline: none !important;
      span.navbar-toggler-icon {
        background-image: url("../img/icons/nav-toggle.svg");
      }
    }
  }
  #header-navbar {

  }
  .navbar-top {
    > .row {
      align-items: center;
    }
    .navbar-nav {
      justify-content: space-around;
    }
    .nav-social {
      &:not(:last-child) {
        margin-right: 20px;
      }
      .social-link {
        i {
          margin-right: 5px;
          color: $light-grey;
          font-size: 18px;
        }
        color: $dark-blue;
        font-weight: 600;
        font-size: 14px;
      }
    }
    .btn {
      text-transform: uppercase;
    }
  }
  .navbar-bottom {
    padding-top: 15px;
    .header-form-search {
      input {
        max-width: 300px;
        min-width: 250px;
      }
    }
    .navbar-nav {
      justify-content: space-around;
    }
    .nav-item {
      .dropdown-menu {
        padding: 0;
        border-radius: 0;
        .dropdown-item {
          padding: 10px 15px;
          color: $dark-blue !important;
          font-size: 15px;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .15);
          }
          &:hover {
            background-color: $light-sky;
          }
        }
      }
      .dropdown-submenu {
        position: relative;
      }
      .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
        margin-left: -1px;
      }
      .dropdown-submenu:hover > .dropdown-menu {
        display: block;
      }
      .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
      }
      .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
      }
      .dropdown-submenu.pull-left {
        float: none;
      }
      .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
      }
    }
    .btn-shop {
      color: $orange;
      padding-right: 0;
      padding-left: 20px;
      &:before {
        border-bottom: 2px solid $orange;
        left: 20px;
        right: 0px;
      }
      i {
        margin-right: 5px;
      }
      .btn-shop-items {
        color: $dark-blue;
        margin: 0 5px;
        text-transform: lowercase;
      }
      &:hover {
        color: $light-blue;
      }
      &:active {
        color: $dark-blue;
      }
    }
  }
  .search-block {
    .header-form-search {
      /*border: 1px solid #ced4da;
      border-radius: .25rem;*/
      position: relative;
    }
    .form-control {
      /* border: none;*/
    }
    .lupa-search {
      display: none;
      position: absolute;
      padding: 0;
      width: 23px;
      height: 21px;
      top: 8px;
      right: 6px;
      border: none;
      background: url("../img/global/search-lupa.png") #ffffff no-repeat;
      background-size: contain;
      cursor: pointer;
      &:active {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .navbar-location {
    float: right;
    width: 100%;
    padding-right: 15px;
    padding-top: 10px;
    .loc-text {
      display: inline-block;
      float: right;
      font-size: 14px;
      margin-right: 10px;
    }
    .location {
      font-size: 14px;
      text-align: center;
      display: inline-block;
      float: right;
      justify-content: center;
      i {
        margin-right: 5px;
      }
      .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: auto;
      }
      .btn {
        padding: 0;
        background-color: white;
        border: none;
        box-shadow: none !important;
        outline: none !important;
        width: 100%;
        display: inline-block;
        &:after {
          display: none;
        }
      }
      .filter-option {
        width: auto;
        display: inline-block;
        position: relative;
      }
      .dropdown-menu {
        left: -20px !important;
        padding: 0;
        border-radius: 0;
        .dropdown-item {
          padding: 10px 15px;
          color: $dark-blue !important;
          font-size: 14px;
          font-weight: 600;
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .15);
          }
          &:hover {
            background-color: $light-sky;
          }
          &.active {
            background-color: $light-sky;
          }
        }
        .popover-header {
          button {
            display: none;
          }
          white-space: nowrap;
          font-size: 13px;
          color: $light-blue;
        }
      }
    }
  }
}


