@media screen and (min-width: 1635px) {
}

@media screen and (max-width: 1634.98px) {
}

@media screen and (min-width: 1400px) and (max-width: 1634.98px) {
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px !important;
  }

}

@media screen and (max-width: 1199.98px) {
  .col-auto.bucket {
    width: 100%;
    padding-right: 28px;
    padding-top: 10px;
  }

  .btn-shop {
    float: right;
  }

  .navbar-brand {
    display: block;
    text-align: center;
  }

  .cards-block {
    width: 100%;
  }

  .slider-wrap {
    margin-bottom: 20px;
  }

  .nav-link {
    display: inline-block;

    &::before {
      right: 0;
      left: 0;
    }
  }

  .sidebar {

    &.active-sidebar {
      transform: translateX(0);
      .btn-sidebar {
        &:after {
          content: "<";
        }
      }
    }
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    transition: transform 0.5s ease-out;
    border-right: 1px solid #ccc;
    transform: translateX(-100%);
    .sidebar-inner {
      position: relative;
      overflow-y: auto;
      height: 100%;
      background: white;
      padding: 0 15px;
    }

    .btn-sidebar {
      position: absolute;
      right: -41px;
      top: 50%;
      display: block;
      height: 40px;
      width: 50px;
      border: 1px solid #bebfc6;
      border-radius: 0 15px 15px 0;
      overflow: hidden;
      text-align: right;
      line-height: 35px;
      font-size: 70px;
      color: #bde7ff;
      background-color: #0097ff;
      cursor: pointer;
      transform: rotate(0deg);
      transition: all 0.1s ease-out;
      &:after {
        content: ">";
      }

    }
  }

}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}

@media screen and (max-width: 991.98px) {
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .col-auto {
    &.search-block {
      width: 100%;
      .form-control {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
  }

  .side-link {
    text-align: center;
  }

  .sidebar {
    width: 400px !important;
  }

}

@media screen and (max-width: 767.98px) {

  .block-title {
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column !important;
  }

  .nav-social {
    text-align: center;
  }

  .footer-left-wrap {
    padding-bottom: 27px;
    text-align: center;
  }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .col-auto {
    &.search-block {
      width: 100%;
      .form-control {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
  }

  .side-link {
    text-align: center;
  }

  .sidebar {
    width: 350px;

    .btn-sidebar {
      height: 30px;
      width: 35px;
      font-size: 38px;
      text-align: center;
      line-height: 30px;
      right: -27px;
    }
  }

}

@media screen and (max-width: 575.98px) {
  .col-auto {
    width: 100%;
    text-align: center;
    &.search-block {
      width: 100%;
      .form-control {
        width: 100%;
        max-width: 100%;
      }
    }

  }

  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    margin-bottom: 14px;
    flex-direction: column !important;
  }

  .side-link {
    text-align: center;
  }

  .dop-link-item {
    /* width: 50%;*/
  }

  .nav-social {
    margin-right: 0 !important;
    width: 100%;
    text-align: center;
  }

  .btn-shop {
    float: none;
  }

  .navbar.navbar-expand-lg {
    padding-top: 10px;
  }

  .cards-block {
    padding-top: 25px !important;
  }

  .cards-block .block-title-wrap {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }

  .block-title {
    width: 100%;
    margin-bottom: 20px !important;
    text-align: center;
  }

  .block-link.nav-link {
    width: 100%;
  }

  .footer-left-wrap {
    text-align: center;
  }

  .filters-submit {
    flex-direction: column;
    align-items: center;
  }

  .submit-btn {
    margin-top: 20px;
  }

  .table-responsive-lg table tbody tr td {
    min-width: 150px;
  }

  .result-wrap {
    flex-direction: column;

    div {
      margin-bottom: 10px;
    }
  }

  .sidebar {
    width: 280px;

    .btn-sidebar {
      height: 23px;
      width: 27px;
      font-size: 31px;
      text-align: center;
      line-height: 22px;
      right: -27px;
    }
  }

  .navbar-collapse {
    padding: 0;
    margin: 0;
  }

  .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .dropdown-menu {
    &.multi-level {
      &.show {
        position: static !important;
        transform: none !important;
        transform: none !important;
      }
    }

  }

  .city-title {
    text-align: center;
    margin-right: 0;
  }

  .page-cart .res-city {
    width: 100% !important;
    text-align: center;
    .city-title {
      margin-right: 0 !important;
    }
    .bootstrap-select {
      width: 100% !important;
      text-align: center;
    }
    .filter-option {
      display: block !important;
      width: 100% !important;
    }
    .filter-option-inner-inner {
      text-align: center;
    }
  }

  .dropdown-menu {
    &.show {
      position: static !important;
      transform: none !important;
    }
  }

  h1 {
    font-size: 30px !important;
  }

  .block-title {
    font-size: 30px !important;
  }

  .slide-title {
    font-size: 20px !important;
  }

  .card-wrap {
    &.card-link {
      font-size: 13px !important;
    }
  }

  .card-wrap.no-pic .card-desc {
    font-size: 13px !important;
  }

  .swiper-container {
    &.swiper-container-horizontal {
      height: 340px !important;
    }
  }

  .swiper-pagination {
    &.swiper-pagination-bullets {
      top: 3px !important;
      right: auto !important;
      left: auto !important;
      bottom: auto !important;
      width: 100% !important;
    }
  }

  .slide-text {
    max-width: 100% !important;
    margin-top: 9px;
  }

  .slide-new {
    font-size: 12px !important;
  }

  .page-index .slider-block .slider-wrap .swiper-slide {
    font-size: 12px !important;
  }

  .disc-text {
    font-size: 13px !important;
  }

  .disc-title {
    font-size: 26px !important;
  }

  .product-text {
    &.dot-text {
      font-size: 13px !important;
    }
  }

  .block-link {
    &.nav-link {
      display: inline-block;
      width: auto;
    }
  }

  .dop-link {
    font-size: 13px !important;
  }

  .card-desc {
    &.ddd-truncated {
      font-size: 13px;
    }
  }

  .dropdown-menu .multi-level .show {
    position: static !important;
    float: none !important;
  }

  .dropdown-menu {
    position: static !important;
    float: none !important;
  }

  .slider-thumbs {
    display: none;
  }

  .item-title {
    font-size: 14px !important;
  }

  .product-text {
    font-size: 14px !important;
  }

  body {
    font-size: 13px !important;
  }

  .swiper-container .swiper-container-horizontal .swiper-container-ios {
    padding-bottom: 70px;
  }

  .slide-btn {
    margin-top: 30px !important;
  }

  .slide-title {
    margin-top: 20px !important;
    margin-bottom: 4px !important;
  }

  .block-title {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .about-block {
    padding: 20px 0 !important;
  }

  .product-icon .img-wrap {
    margin-bottom: 20px !important;
  }

  .product-text {
    margin-bottom: 0 !important;
  }

}
