.page-cart {

  .cart-block {
    padding: 30px 0;
    .block-title {
      margin-bottom: 20px;
    }
    .cart-wrap {
      background-color: #f5f7fa;
      table {
        width: 100%;
      }
      .item-pic-wrap {
        text-align: center;
        .item-pic {
          width: 100px;
        }
      }
      .item-title {
        color: $dark-blue;
      }
      .item-subtitle {
        font-size: 14px;
        color: $light-grey;
      }
      .item-unit {
        font-size: 13px;
        color: $light-grey;
        &:after {
          content: "\20BD";
          margin-left: 7px;
        }
      }
      .item-price {
        font-weight: 600;
        &:after {
          content: "\20BD";
          margin-left: 7px;
        }
      }
      .bootstrap-touchspin {
        .btn {
          height: auto;
          background: transparent !important;
          font-size: 20px;
          font-weight: 600;
          color: $dark-blue;
          padding: 0px 10px;
          width: 35px;
          border: 1px solid #ced4da;
        }
        .item-counter {
          width: 70px;
          flex: none;
          text-align: center;
        }
      }
      .item-del {
        font-size: 14px;
        color: $light-grey;
      }

      .table-bottom {
        border-top: 1px solid $dark-blue;
        margin-top: 20px;
      }
      .result-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px;
        .res-city {
          .city-title {
            margin-right: 10px;
            font-size: 14px;
            color: $light-grey;
          }
          .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: auto;
          }
          .btn {
            padding: 0;
            background-color: transparent;
            border: none;
            box-shadow: none !important;
            outline: none !important;
            width: 100%;
            display: inline-block;
            &:after {
              display: none;
            }
          }
          .filter-option {
            width: auto;
            display: inline-block;
            position: relative;
            text-decoration: underline;
          }
          .dropdown-menu {
            left: -20px !important;
            padding: 0;
            border-radius: 0;
            .dropdown-item {
              padding: 10px 15px;
              color: $dark-blue !important;
              font-size: 14px;
              font-weight: 600;
              &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, .15);
              }
              &:hover {
                background-color: $light-sky;
              }
              &.active {
                background-color: $light-sky;
              }
            }
            .popover-header {
              button {
                display: none;
              }
              white-space: nowrap;
              font-size: 13px;
              color: $light-blue;
            }
          }
        }
        .res-price {
          .price-title {
            margin-right: 10px;
            font-size: 14px;
            color: $light-grey;
          }
          .price-val {
            font-weight: 600;
            &:after {
              content: "\20BD";
              margin-left: 7px;
            }
          }
        }
        .res-btn {
          .btn {
            text-transform: uppercase;
          }
        }
      }
    }
  }

}