.page-catalog {

  .cards-block {
    padding: 40px 0;
    .card-wrap {
      height: 320px;
      .card-pic {
        height: 170px;
      }
      .card-text {
        padding: 20px 20px;
      }
      .card-desc {
        height: 72px;
      }
      &.no-pic {
        .card-desc {
          height: 240px;
        }
      }
    }
  }

}