.page-index {

  .slider-block {
    padding-bottom: 50px;
    .slider-wrap {
      .swiper-container {
        width: 100%;
        height: 500px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .swiper-slide {
        display: flex;
        text-align: center;
        font-size: 18px;
        background: #fff;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        .slide-pic {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
        }
        .slide-text {
          z-index: 2;
          text-align: left;
          max-width: 70%;
          padding-left: 30px;
        }
        .slide-new {
          span {
            background-color: $orange;
            color: white;
            font-weight: 400 !important;
            font-size: 14px;
            padding: 3px 7px;
            margin-right: 5px;
          }
        }
        .slide-title {
          font-size: 30px;
          font-weight: 600;
          margin-top: 20px;
          margin-bottom: 10px;
          max-height: 135px;
          overflow: hidden;
        }
        .slide-subtitle {
          max-height: 54px;
          overflow: hidden;
        }
        .slide-btn {
          margin-top: 40px;
          .btn {
            padding: 10px 40px;
            text-transform: uppercase;
          }
        }
      }
      .swiper-pagination {
        top: 70px;
        bottom: auto;
        right: 50px;
        left: auto;
        width: auto;
        .swiper-pagination-bullet {
          background-color: white;
          border: 1px solid $light-blue;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          background-color: $light-blue;
        }
      }
    }
    .discont-wrap {
      .swiper-container {
        border: 4px solid $sky-blue;
        height: 500px;
        position: relative;
      }
      .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .disc-link {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: all .15s ease;
        &:hover {
          background-color: rgba(0, 0, 0, 0.15);
        }
      }
      .disc-text {
        padding: 30px;
      }
      .disc-title {
        font-size: 30px;
        font-weight: 600;
        color: $orange;
        margin-bottom: 10px;
      }
      .disc-pic {
        height: auto;
        img {
          object-fit: contain;
        }
      }
    }
  }
  .product-block {
    padding-bottom: 100px;
    background: linear-gradient(to right, #83bbee, #b7e5ff);
    .block-title {
      padding-top: 70px;
      padding-bottom: 40px;
      margin-bottom: 0;
      color: white;
      font-size: 40px;
      font-weight: 700;
    }
    .swiper-container {
    }
    .swiper-slide {
      padding: 30px;
      background-color: white;
      height: 370px;
      .product-link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        &:hover {
          ~ .product-next i {
            color: $dark-blue;
          }
        }
      }
      .product-icon {
        margin-bottom: 40px;
        max-height: 120px;
        img {
          object-fit: contain;
          max-width: 100%;
          width: auto;
        }
      }
      .product-text {
        height: 92px;
        overflow: hidden;
        font-size: 15px;
        margin-bottom: 25px;
      }
      .product-next {
        i {
          color: $sky-blue;
          font-size: 28px;
          transition: all .2s ease;
        }
      }
    }
  }
  .about-block {
    padding: 100px 0;

    .long-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    .block-title {
      margin-bottom: 100px;
      font-size: 40px;
      font-weight: 600;
      color: $dark-blue;
    }
    .info-text {
      color: $light-blue;
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .about-text {
      padding: 15px 0;
    }
  }
  .cards-block {
    padding: 70px 0;
    background-color: #f5f6fa;
    .card-wrap {
      height: 400px;
      .card-pic {
        height: 230px;
      }
      .card-desc {
        height: 72px;
      }
      &.no-pic {
        .card-desc {
          height: 290px;
        }
      }
    }
  }

}