.page-news_detail {

  .news-block {
    padding: 20px 0;
    .block-title {
      margin-bottom: 20px;
    }
    .news-date {
      color: $light-grey;
      font-size: 15px;
      margin-bottom: 20px;
      i {
        font-size: 18px;
        margin-right: 7px;
      }
    }
    .news-pic {
      margin-bottom: 30px;
      height: auto;
      img {
        min-height: 0;
        width: auto;
        max-width: 100%;
      }
    }
    .news-text {
      margin-bottom: 20px;
    }
  }
  .other-block {
    padding: 20px 0;
    .block-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .swiper-container {
      margin: 0 15px;
      position: relative;
      .swiper-slide {
      }
    }
    .swiper-navigation {
      .swiper-button-next, .swiper-button-prev {
        width: 18px;
        height: 30px;
        background-size: contain;
        opacity: 0.6;
      }
    }
    .card-wrap {
      height: 325px;
      margin-top: 6px;
      margin-left: 10px;
      margin-right: 10px;
      .card-pic {
        height: 160px;
      }
      .card-desc {
        height: 72px;
      }
      &.no-pic {
        .card-desc {
          height: 220px;
        }
      }
    }
  }

}

