.page-product_card {

  .product-block {
    padding: 30px 0;
    .slider-wrap {
      .swiper-container {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }
      .gallery-top {
        height: 250px;
        width: 100%;
        .swiper-img-full {
          width: 100%;
          height: auto;
          max-height: 100%;
          object-fit: contain;
        }
      }
      .gallery-thumbs {
        height: 100px;
        padding: 10px 0;
        margin-bottom: 0px;
        .swiper-slide {
          opacity: 0.7;
        }
        .swiper-slide-active {
          opacity: 1;
          border: 2px solid #32c6f4;
        }
        .swiper-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .desc-wrap {
      .item-id {
        color: $light-grey;
        font-size: 12px;
        margin-bottom: 0px;
      }
      .item-title {
        font-size: 40px;
        margin-bottom: 20px;
      }
      .item-info {
        tr {
          &:nth-child(odd) {
            background-color: #f5f5f5;
          }
          td:first-child {
            color: $dark-grey;
          }
          td:last-child {
            color: $dark-blue;
            text-align: right;
            font-weight: 600;
          }
        }
        td {
          font-size: 14px;
          border: none;
        }
      }
      .item-cost {
        .price {
          color: $orange;
          font-size: 30px;
          text-align: center;
          margin-bottom: 10px;
          &:after {
            content: "\20BD";
            margin-left: 7px;
          }
        }
        .action {
          margin-bottom: 10px;
          text-align: center;
          .btn {
          }
        }
        .location {
          font-size: 14px;
          text-align: center;
          display: flex;
          justify-content: center;
          i {
            margin-right: 5px;
          }
          .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: auto;
          }
          .btn {
            padding: 0;
            background-color: white;
            border: none;
            box-shadow: none !important;
            outline: none !important;
            width: 100%;
            display: inline-block;
            &:after {
              display: none;
            }
          }
          .filter-option {
            width: auto;
            display: inline-block;
            position: relative;
          }
          .dropdown-menu {
            left: -20px !important;
            padding: 0;
            border-radius: 0;
            .dropdown-item {
              padding: 10px 15px;
              color: $dark-blue !important;
              font-size: 14px;
              font-weight: 600;
              &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, .15);
              }
              &:hover {
                background-color: $light-sky;
              }
              &.active {
                background-color: $light-sky;
              }
            }
            .popover-header {
              button {
                display: none;
              }
              white-space: nowrap;
              font-size: 13px;
              color: $light-blue;
            }
          }
        }
      }
    }
    .product-text {
      padding: 20px 0;
    }
  }
  .other-block {
    padding: 20px 0;
    .block-title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .swiper-container {
      margin: 0 15px;
      position: relative;
      .swiper-slide {
      }
    }
    .swiper-navigation {
      .swiper-button-next, .swiper-button-prev {
        width: 18px;
        height: 30px;
        background-size: contain;
        opacity: 0.6;
      }
    }
    .card-wrap {
      height: 325px;
      margin-top: 6px;
      margin-left: 10px;
      margin-right: 10px;
      .card-text {
        padding: 15px 15px;
      }
      .card-pic {
        height: 175px;
      }
      .card-title {
        height: 72px;
      }
      &.no-pic {
        .card-text {
          padding: 40px 15px;
        }
        .card-title {
          height: 220px;
        }
      }
    }
  }

}

