.page-product_list {

  .filters-block {
    padding-top: 40px;
    padding-bottom: 20px;
    .block-title {
      margin-bottom: 20px;
    }
    .filter-title {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .filters-wrap {
      .input-group {
        height: 40px;
        margin-bottom: 1rem;
        .input-group-text {
          border-radius: 0;
          font-size: 14px;
          padding: 0 7px;
        }
        .form-control {
          border-radius: 0;
          padding: 0 7px;
          font-size: 15px;
        }
      }
      .form-group {
        .btn {
          padding: .375rem .75rem;
          background-color: white;
          border: 1px solid #ced4da;
          border-radius: 0;
          box-shadow: none !important;
          outline: none !important;
          height: 40px;
        }
        .filter-option {
          font-size: 15px;
        }
        .dropdown-menu {
          padding: 0;
          border-radius: 0;
          .dropdown-item {
            padding: 10px 15px;
            color: $dark-blue !important;
            font-size: 14px;
            font-weight: 600;
            &:hover {
              background-color: $light-sky;
            }
            &:active, &:focus {
              background-color: $light-sky;
              outline: none !important;
            }
            &.active {
              background-color: $light-sky;
            }
            &.disabled {
              display: none;
            }
          }
        }
      }
    }
    .filters-submit {
      display: flex;
      justify-content: space-between;
      .hide-btn {
        display: flex;
        align-items: center;
        font-size: 15px;
        &:after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: .255em;
          vertical-align: .255em;
          content: "";
          border-top: .3em solid;
          border-right: .3em solid transparent;
          border-bottom: 0;
          border-left: .3em solid transparent;
          transform: rotate(180deg);
          transition: all .3s ease;
        }
        &.short {
          &:after {
            transform: rotate(0deg);
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
      .submit-btn {
        text-transform: uppercase;
      }
    }
  }
  .cards-block {
    padding-top: 20px;
    padding-bottom: 40px;
    .card-wrap {
      height: 325px;
      margin-top: 6px;
      margin-left: 10px;
      margin-right: 10px;
      .card-text {
        padding: 15px 15px;
      }
      .card-pic {
        height: 175px;
      }
      .card-title {
        height: 72px;
      }
      &.no-pic {
        .card-text {
          padding: 40px 15px;
        }
        .card-title {
          height: 220px;
        }
      }
    }
  }

}