.page-search {

  .block-title {
    font-size: 40px;
    margin-bottom: 45px;
  }
  .result-search {
    padding: 30px 15px;
    font-size: 16px;
    .content-title {
      font-weight: bold;
    }
    .content-text {
      margin-top: 20px;
    }
    &:nth-child(odd) {
      background: #f5f5f5;
    }
    &:nth-child(even) {
      background: #ffffff;
    }
  }

  .pagination-wrap {
    margin-top: 30px;
  }
}

