block aside
  aside.sidebar
    .btn-sidebar
    .sidebar-inner
      .row
        .col-12
          nav.side-links-wrap
            ul.side-links
              li.side-item.active
                a.side-link(href="#") Пластиковые, Пластиковые емкости, емкости, Пластиковые емкости
              li.side-item
                a.side-link.new-item(href="#")
                  | Пластиковые емкости, Пластиковые емкости
              li.side-item
                a.side-link(href="#") Пластиковые емкости,  емкости, Пластиковые , Пластиковые емкости
              li.side-item
                a.side-link(href="#") Пластиковые емкости
              li.side-item
                a.side-link(href="#") Пластиковые емкости, Пластиковые емкости, Пластиковые емкости
              li.side-item
                a.side-link(href="#")  емкости, Пластиковые емкости,  емкости, Пластиковые емкости



