block aside
  aside.sidebar
    .btn-sidebar
    .sidebar-inner


      .row
        .col-12
          nav.side-links-wrap
            ul.side-links
              li.side-item.active
                a.side-link(href="#") Пластиковые, Пластиковые емкости, емкости, Пластиковые емкости
              li.side-item
                a.side-link.new-item(href="#")
                  | Пластиковые емкости, Пластиковые емкости
              li.side-item
                a.side-link(href="#") Пластиковые емкости,  емкости, Пластиковые , Пластиковые емкости
              li.side-item
                a.side-link(href="#") Пластиковые емкости
              li.side-item
                a.side-link(href="#") Пластиковые емкости, Пластиковые емкости, Пластиковые емкости
              li.side-item
                a.side-link(href="#")  емкости, Пластиковые емкости,  емкости, Пластиковые емкости

        .col-12
          nav.dop-links-wrap
            .dop-links-title
              | Полезные ссылки
            .dop-link-item
              a.dop-link(href="#")
                i.mdi.mdi-open-in-new
                | Баки для воды. 15.05.18
            .dop-link-item
              a.dop-link(href="#")
                i.mdi.mdi-open-in-new
                | Цены и спецификации
        .col-12
          nav.dop-links-wrap
            .dop-links-title
              | Порядок установки
            .dop-link-item
              a.dop-link.dop-download(href="#")
                i.mdi.mdi-paperclip
                | File_123.doc
        .col-12
          .dop-info-wrap
            .dop-info-title
              | Полезная информация
            .dop-info-text
              .dop-info-desc
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iusto nesciunt pariatur quam quas quasi repellat tenetur ullam vitae voluptate. Cumque facere id illo quia repellat saepe sit velit veniam?
              .dop-info-date
                | 17.05.2018 16:55
        .col-12
          .discont-wrap
            a.disc-link(href="#")
            .disc-text
              .disc-title Акция
              .disc-subtitle С 20 мая по 30 июня 10% на емкости черного цвета
            .disc-pic.img-wrap
              img(src="./img/pics/action.png")


