block footer
  footer
    .container
      .row
        .col-lg-4
          .footer-left-wrap
            a.footer-logo(href="/")
              img(src='./img/icons/logo.png', alt='Anion logo')
            .footer-about-text
              | © ООО «Анион», пластиковые емкости, промышленная тара, листы, панели, стержни
              br
              | из пластика, дорожные блоки, конусы, ограждения, садовая мебель. 1992—2017
            a.footer-nefabrika(href="http://nefabrika.ru")
              | Сайт разработан в студии «Нефабрика»
        .col-lg-8
          .row
            .col-lg-7
              .nav-social
                a.social-link(href="tel:+79991234567")
                  i.mdi.mdi-phone-in-talk
                  | +7 (999) 123-45-67
              .nav-social
                .social-link
                  i.mdi.mdi-map-marker-outline
                  | Нижний Новгород, ул. Пушкина, д.666
            .col-lg-5
              .nav-social
                .social-link
                  i.mdi.mdi-clock
                  | пн-пт 9:00-18:00
              .nav-social
                a.social-link(href="mailto:info@site.ru")
                  i.mdi.mdi-email-outline
                  | info@site.ru
            .col-12
              ul.navbar-nav
                li.nav-item.active
                  a.nav-link(href='#') Главная
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Продукция
                  .dropdown-menu.multi-level
                    a.dropdown-item(href='product_list.html') Продукт 1
                    a.dropdown-item(href='product_list.html') Продукт 2
                    a.dropdown-item(href='product_list.html') Продукт 3
                    .dropdown-submenu
                      a.dropdown-item Подкатекория 1
                      .dropdown-menu
                        a.dropdown-item(href='product_list.html') Продукт 1
                        .dropdown-submenu
                          a.dropdown-item(href='#') Подкатекория 2
                          .dropdown-menu
                            a.dropdown-item(href='product_list.html') Продукт 1
                            a.dropdown-item(href='product_list.html') Продукт 2
                        a.dropdown-item(href='product_list.html') Продукт 3
                li.nav-item
                  a.nav-link(href='#') Документы
                li.nav-item
                  a.nav-link(href='#') Новости
                li.nav-item
                  a.nav-link(href='#') О компании
                li.nav-item
                  a.nav-link(href='#') Контакты
            .col-12
              .nav-other-wrap
                a.nav-other(href="#") Правила обработки персональных данных
                br
                a.nav-other(href="#") Карта сайта



