block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', type='image/x-icon', href='img/icons/favicon.ico')
  link(rel='apple-touch-icon', href='img/icons/favicon.ico')

  //- Site Title
  title Test

  //- Bootstrap
  link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
  //- CSS
  link(rel='stylesheet', type='text/css', href='css/preloader.css')
  link(rel='stylesheet', type='text/css', href='css/fonts.css')
  link(rel='stylesheet', type='text/css', href='css/main.css')
  link(rel='stylesheet', type='text/css', href='css/common.css')
  link(rel='stylesheet', type='text/css', href='css/plugins.css')