block header
  header
    nav.navbar.navbar-expand-lg
      .container
        a.navbar-brand.d-block.d-lg-none(href='/')
          img(src='./img/icons/logo.png', alt='Anion logo')
        button.navbar-toggler(data-toggle='collapse', data-target='#header-navbar')
          span.navbar-toggler-icon

        #header-navbar.collapse.navbar-collapse.row
          .navbar-top.col-12
            .row
              .col-xl-auto.col-lg-12.d-none.d-lg-block
                a.navbar-brand(href='/')
                  img(src='./img/icons/logo.png', alt='Anion logo')
              .col
                ul.navbar-nav
                  li.nav-social
                    a.social-link(href="tel:+79991234567")
                      i.mdi.mdi-phone-in-talk
                      | +7 (999) 123-45-67
                  li.nav-social
                    .social-link
                      i.mdi.mdi-map-marker-outline
                      | Нижний Новгород, ул. Пушкина, д.666
                  li.nav-social
                    .social-link
                      i.mdi.mdi-clock
                      | пн-пт 9:00-18:00
              .col-auto
                a.btn.btn-lg.blue-border(href='#', data-toggle="modal", data-target="#feedBackModal") НАПИСАТЬ НАМ

                #feedBackModal.modal.fade(tabindex='-1', role='dialog')
                  .modal-dialog.modal-dialog-centered.modal-lg
                    .modal-content
                      form
                        .modal-header
                          .col-12
                            .modal-title Написать нам
                          button.close(type='button', data-dismiss='modal')
                            span ×
                        .modal-body
                          .container-fluid
                            .row
                              .col-md-5
                                .form-group
                                  label(for='fioInputFeedBackModal') Ваше имя*:
                                  input#fioInputFeedBackModal.form-control(type='text', name='fio', placeholder='', required)
                                .form-group
                                  label(for='companyInputFeedBackModal') Компания / организация (необязательно):
                                  input#companyInputFeedBackModal.form-control(type='text', name='company', placeholder='')
                                .form-group
                                  label(for='telInputFeedBackModal') Телефон*:
                                  input#telInputFeedBackModal.form-control(type='tel', name='tel', placeholder='', required)
                                .form-group
                                  label(for='emailInputFeedBackModal') Email*:
                                  input#emailInputFeedBackModal.form-control(type='email', name='email', placeholder='', required)
                              .col-md-7
                                .form-group
                                  label(for='commentInputFeedBackModal') Сообщение:
                                  textarea#commentInputFeedBackModal.form-control(rows='8', name='comment', placeholder='')
                        .modal-footer
                          button.btn.blue#feedBackModalBtn(type='submit') Отправить

          .navbar-bottom.col-12
            .row
              .col-auto.search-block
                form#header-search.form-inline.header-form-search
                  input.form-control(type='text', placeholder='Поиск')
                  button.lupa-search(type='submit')
              .col
                ul.navbar-nav.navbar-ul
                  li.nav-item.active
                    a.nav-link(href='index.html') Главная
                  li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Продукция
                    .dropdown-menu.multi-level
                      a.dropdown-item(href='product_list.html') Продукт 1
                      a.dropdown-item(href='product_list.html') Продукт 2
                      a.dropdown-item(href='product_list.html') Продукт 3
                      .dropdown-submenu
                        a.dropdown-item(href='#') Подкатекория 1
                        .dropdown-menu
                          a.dropdown-item(href='product_list.html') Продукт 1
                          .dropdown-submenu
                            a.dropdown-item(href='#') Подкатекория 2
                            .dropdown-menu
                              a.dropdown-item(href='product_list.html') Продукт 1
                              a.dropdown-item(href='product_list.html') Продукт 2
                          a.dropdown-item(href='product_list.html') Продукт 3
                  li.nav-item
                    a.nav-link(href='#') Документы
                  li.nav-item
                    a.nav-link(href='catalog.html') Новости
                  li.nav-item
                    a.nav-link(href='#') О компании
                  li.nav-item
                    a.nav-link(href='#') Контакты
              .col-auto.bucket
                a.btn-shop.nav-link(href='cart.html')
                  i.mdi.mdi-cart
                  | Корзина
                  span.btn-shop-items (0 товаров)
          .navbar-location
            .header-location
              .location
                i.mdi.mdi-map-marker-outline
                select.selectpicker(data-header="Изменить наименование склада")
                  option Москва
                  option Санкт-Петербург
                  option Нижний Новгород
              .loc-text Текущий склад доставки:


