extends partial/_layout

block content
  main.page-cart
    .container
      .row
        .col-12
          nav.breadcrumb-wrap
            ol.breadcrumb
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Главная
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Продукция
              li.breadcrumb-item.active Детальная страница
        .col-xl-3
          include partial/_asideShort
        .col-xl-9
          section.cart-block
            .row
              .col-12
                .block-title-wrap
                  h1.block-title Корзина
              .col-12
                .cart-wrap
                  .table-responsive-lg
                    table
                      tbody
                        tr
                          td
                            .item-pic-wrap
                              img.item-pic(src="./img/pics/complect_3.png")
                          td
                            a.item-title(href="#") Крышка для ванной Е 900
                            br
                            span.item-subtitle Т12374182731
                          td
                            input.item-counter(type="text", value="23")
                            span.item-unit 1 шт. = 9999
                          td(align="center")
                            span.item-price 1 295, 00
                          td(align="center")
                            a.item-del(href="#") Удалить
                        tr
                          td
                            .item-pic-wrap
                              img.item-pic(src="./img/pics/ico_3.png")
                          td
                            a.item-title(href="#") Крышка для ванной Е 900
                            br
                            span.item-subtitle Т12374182731
                          td
                            input.item-counter(type="text", value="12")
                            span.item-unit 1 шт. = 9999
                          td(align="center")
                            span.item-price 1 295, 00
                          td(align="center")
                            a.item-del(href="#") Удалить
                        tr
                          td
                            .item-pic-wrap
                              img.item-pic(src="./img/pics/bg_step.jpg")
                          td
                            a.item-title(href="#") Крышка для ванной Е 900
                            br
                            span.item-subtitle Т12374182731
                          td
                            input.item-counter(type="text", value="13")
                            span.item-unit 1 шт. = 9999
                          td(align="center")
                            span.item-price 1 295, 00
                          td(align="center")
                            a.item-del(href="#") Удалить
                  .table-bottom
                    .result-wrap
                      .res-city
                        span.city-title Склад:
                        select.selectpicker(data-header="Изменить наименование склада")
                          option Москва
                          option Санкт-Петербург
                          option Нижний Новгород
                      .res-price
                        span.price-title Итого:
                        span.price-val 10 344, 00
                      .res-btn
                        a.btn.blue(href="#", data-toggle="modal", data-target="#orderModal") Заказать

                        #orderModal.modal.fade(tabindex='-1', role='dialog')
                          .modal-dialog.modal-dialog-centered.modal-lg
                            .modal-content
                              form
                                .modal-header
                                  .col-12
                                    .modal-title Форма заказа
                                  button.close(type='button', data-dismiss='modal')
                                    span ×
                                .modal-body
                                  .container-fluid
                                    .row
                                      .col-md-5
                                        .form-group
                                          label(for='fioInputOrderModal') Ваше имя*:
                                          input#fioInputOrderModal.form-control(type='text', name='fio', placeholder='', required)
                                        .form-group
                                          label(for='companyInputOrderModal') Компания / организация (необязательно):
                                          input#companyInputOrderModal.form-control(type='text', name='company', placeholder='')
                                        .form-group
                                          label(for='telInputOrderModal') Телефон*:
                                          input#telInputOrderModal.form-control(type='tel', name='tel', placeholder='', required)
                                        .form-group
                                          label(for='emailInputOrderModal') Email*:
                                          input#emailInputOrderModal.form-control(type='email', name='email', placeholder='', required)
                                      .col-md-7
                                        .form-group
                                          label(for='commentInputOrderModal') Сообщение:
                                          textarea#commentInputOrderModal.form-control(rows='8', name='comment', placeholder='')

                                .modal-footer
                                  button.btn.blue#orderModalBtn(type='submit') Отправить заявку

