extends partial/_layout

block content
  main.page-catalog
    .container
      .row
        .col-12
          nav.breadcrumb-wrap
            ol.breadcrumb
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Главная
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Продукция
              li.breadcrumb-item.active Детальная страница
        .col-xl-3
          include partial/_aside
        .col-xl-9
          section.cards-block
            .row
              .col-12
                .block-title-wrap
                  h1.block-title Новости
              .col-lg-4
                .card-wrap
                  a.card-link(href="news_detail.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
              .col-lg-4
                .card-wrap.no-pic
                  a.card-link(href="news_detail.html")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-long
                      | Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                      | Lorem ipsum dolor sit amet, consecteturquuntur ex fuga inventore ipsam
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
              .col-lg-4
                .card-wrap
                  a.card-link(href="news_detail.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/ico_2.png")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
              .col-lg-4
                .card-wrap
                  a.card-link(href="news_detail.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
              .col-lg-4
                .card-wrap
                  a.card-link(href="news_detail.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
              .col-lg-4
                .card-wrap
                  a.card-link(href="news_detail.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
              .col-lg-4
                .card-wrap.no-pic
                  a.card-link(href="news_detail.html")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-long
                      | Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                      | Lorem ipsum dolor sit amet, consecteturquuntur ex fuga inventore ipsam
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
              .col-lg-4
                .card-wrap
                  a.card-link(href="news_detail.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/ico_2.png")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
              .col-lg-4
                .card-wrap
                  a.card-link(href="news_detail.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-date
                      i.mdi.mdi-calendar-blank
                      | 7/10/2017
                    .card-desc.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam

              .col-12
                nav.pagination-wrap
                  ul.pagination
                    li.page-item.disabled
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-double-left
                    li.page-item.disabled
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-left
                    li.page-item
                      a.page-link(href='#') 1
                    li.page-item.active
                      a.page-link(href='#') 2
                    li.page-item
                      a.page-link(href='#') 3
                    li.page-item
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-right
                    li.page-item
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-double-right



