extends partial/_layout

block content
  main.page-index
    section.slider-block
      .container
        .row
          .col-lg-8
            .slider-wrap
              .swiper-container
                .swiper-wrapper
                  .swiper-slide(data-swiper-autoplay="1000")
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/action.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                  .swiper-slide(data-swiper-autoplay="500")
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/news_pict_1.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                  .swiper-slide
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/ico_2.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                  .swiper-slide
                    .slide-pic
                      .img-wrap
                        img.img(src="./img/pics/complect_3.png")
                    .slide-text
                      .slide-new
                        span Новинка
                      .slide-title.dot-text
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                        | Заголовок для слайда
                      .slide-subtitle.dot-long
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                        | Подзаголовок, длинный подзаголовок
                      .slide-btn
                        a.btn.blue(href="#") Заказать
                .swiper-pagination
          .col-lg-4
            .discont-wrap
              .swiper-container
                .swiper-wrapper
                  .swiper-slide(data-swiper-autoplay="1000")
                    a.disc-link(href="#")
                    .disc-text
                      .disc-title Акция
                      .disc-subtitle С 20 мая по 30 июня 10% на емкости черного цвета
                    .disc-pic.img-wrap
                      img(src="./img/pics/action.png")
                  .swiper-slide(data-swiper-autoplay="500")
                    a.disc-link(href="#")
                    .disc-text
                      .disc-title Акция
                      .disc-subtitle С 20 мая по 30 июня 10% на емкости черного цвета
                    .disc-pic.img-wrap
                      img(src="./img/pics/action.png")
                  .swiper-slide(data-swiper-autoplay="3000")
                    a.disc-link(href="#")
                    .disc-text
                      .disc-title Акция
                      .disc-subtitle С 20 мая по 30 июня 10% на емкости черного цвета
                    .disc-pic.img-wrap
                      img(src="./img/pics/action.png")

    section.product-block
      .container
        .row
          .col-12
            h1.block-title Продукция
          .col-12
            .swiper-container
              .swiper-wrapper
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_1.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_2.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consaliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_3.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                    | Lorem ipsum dolor sit amet, consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/ico_4.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right
                .swiper-slide
                  a.product-link(href="#")
                  .product-icon.img-wrap
                    img(src="./img/pics/action.png")
                  .product-text.dot-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam dicta distinctio doloribus.
                  .product-next
                    .link-icon
                      i.mdi.mdi-arrow-right

    section.about-block
      .container
        .row
          .col-lg-4
            .long-wrap
              .block-title О компании
              .info-wrap
                .info-text
                  | С 1992 года на рынке
                .info-text
                  | Собственное производство
                .info-text
                  | Член международной ассоциации <br> производителей ARM
                  br
                  | (Association of rotational molders)
          .col-lg-4
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
          .col-lg-4
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?
            .about-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consectetur culpa deserunt dolor,
              | ea harum hic incidunt ipsam minima nam porro, possimus quam qui quidem ratione sed tenetur veritatis voluptatibus?

    section.cards-block
      .container
        .row
          .col-12
            .block-title-wrap
              h1.block-title Новости
              a.block-link.nav-link(href="#") Все новости
          .col-lg-4
            .card-wrap
              a.card-link(href="#")
              .card-pic.img-wrap
                img(src="./img/pics/bg_step.jpg")
              .card-text
                .card-date
                  i.mdi.mdi-calendar-blank
                  | 7/10/2017
                .card-desc.dot-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
          .col-lg-4
            .card-wrap.no-pic
              a.card-link(href="#")
              .card-text
                .card-date
                  i.mdi.mdi-calendar-blank
                  | 7/10/2017
                .card-desc.dot-long
                  | Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consecteturquuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
          .col-lg-4
            .card-wrap
              a.card-link(href="#")
              .card-pic.img-wrap
                img(src="./img/pics/ico_2.png")
              .card-text
                .card-date
                  i.mdi.mdi-calendar-blank
                  | 7/10/2017
                .card-desc.dot-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam






