extends partial/_layout

block content
  main.page-news_detail
    .container
      .row
        .col-12
          nav.breadcrumb-wrap
            ol.breadcrumb
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Главная
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Продукция
              li.breadcrumb-item.active Детальная страница
        .col-xl-3
          include partial/_aside
        .col-xl-9
          section.news-block
            .row
              .col-12
                .block-title-wrap
                  h1.block-title Детальное название новости
              .col-12
                .news-date
                  i.mdi.mdi-calendar-blank
                  | 7/10/2017
              .col-12
                .news-pic.img-wrap
                  img(src="./img/pics/bg_step.jpg")
              .col-12
                .news-pic.img-wrap
                  img(src="./img/pics/ico_1.png")
              .col-12
                .news-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
          section.other-block
            .row
              .col-12
                .block-title Вам будет интересно
              .col-12
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      .card-wrap
                        a.card-link(href="#")
                        .card-pic.img-wrap
                          img(src="./img/pics/bg_step.jpg")
                        .card-text
                          .card-date
                            i.mdi.mdi-calendar-blank
                            | 7/10/2017
                          .card-desc.dot-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                    .swiper-slide
                      .card-wrap.no-pic
                        a.card-link(href="#")
                        .card-text
                          .card-date
                            i.mdi.mdi-calendar-blank
                            | 7/10/2017
                          .card-desc.dot-long
                            | Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
                    .swiper-slide
                      .card-wrap
                        a.card-link(href="#")
                        .card-pic.img-wrap
                          img(src="./img/pics/news_pict_2.png")
                        .card-text
                          .card-date
                            i.mdi.mdi-calendar-blank
                            | 7/10/2017
                          .card-desc.dot-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                    .swiper-slide
                      .card-wrap.no-pic
                        a.card-link(href="#")
                        .card-text
                          .card-date
                            i.mdi.mdi-calendar-blank
                            | 7/10/2017
                          .card-desc.dot-long
                            | Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
                    .swiper-slide
                      .card-wrap
                        a.card-link(href="#")
                        .card-pic.img-wrap
                          img(src="./img/pics/ico_3.png")
                        .card-text
                          .card-date
                            i.mdi.mdi-calendar-blank
                            | 7/10/2017
                          .card-desc.dot-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                    .swiper-slide
                      .card-wrap.no-pic
                        a.card-link(href="#")
                        .card-text
                          .card-date
                            i.mdi.mdi-calendar-blank
                            | 7/10/2017
                          .card-desc.dot-long
                            | Lorem ipsum dolor ctetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntunventore ipsam
                .swiper-navigation
                  .swiper-button-next
                  .swiper-button-prev



