extends partial/_layout

block content
  main.page-product_list
    .container
      .row
        .col-12
          nav.breadcrumb-wrap
            ol.breadcrumb
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Главная
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Продукция
              li.breadcrumb-item.active Детальная страница
        .col-xl-3
          include partial/_asideShort
        .col-xl-9
          section.filters-block
            .row
              .col-12
                .block-title-wrap
                  h1.block-title Баки и емкости для воды и топлива
              .col-12
                .filters-wrap
                  form
                    .row
                      // От-До
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Объем, л
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text От
                              input.form-control(type="number", min="0", max="9999", step="1")
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text До
                              input.form-control(type="number", min="0", max="9999", step="1")
                      // Селект
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Тип эксплуатации
                          .col-12
                            .form-group
                              select.selectpicker.show-tick.form-control(title='', data-size="5")
                                option(selected disabled hidden value="")
                                option Критерий 1
                                option Критерий 2
                                option Критерий 3
                                option Критерий 4
                                option Критерий 5
                                option Критерий 6
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Объем, л
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text От
                              input.form-control(type="number", min="0", max="9999", step="1")
                          .col-md-6
                            .input-group
                              .input-group-prepend
                                .input-group-text До
                              input.form-control(type="number", min="0", max="9999", step="1")
                      .col-lg-4
                        .row
                          .col-12
                            .filter-title Тип эксплуатации
                          .col-12
                            .form-group
                              select.selectpicker.show-tick.form-control(title='', data-size="5")
                                option(selected disabled hidden value="")
                                option Критерий 1
                                option Критерий 2
                                option Критерий 3
                                option Критерий 4
                                option Критерий 5
                                option Критерий 6
              .col-12
                .filters-submit
                  .hide-btn Свернуть фильтры
                  a.btn.blue.submit-btn(href="#") Применить фильтры

          section.cards-block
            .row
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203
              .col-lg-4
                .card-wrap.no-pic
                  a.card-link(href="product_card.html")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-long
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 99 999
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203
              .col-lg-4
                .card-wrap
                  a.card-link(href="product_card.html")
                  .card-pic.img-wrap
                    img(src="./img/pics/bg_step.jpg")
                  .card-text
                    .card-id T12343212
                    .card-title.dot-text
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    .card-price 203

              .col-12
                nav.pagination-wrap
                  ul.pagination
                    li.page-item.disabled
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-double-left
                    li.page-item.disabled
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-left
                    li.page-item
                      a.page-link(href='#') 1
                    li.page-item.active
                      a.page-link(href='#') 2
                    li.page-item
                      a.page-link(href='#') 3
                    li.page-item
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-right
                    li.page-item
                      a.page-link(href='#')
                        i.mdi.mdi-chevron-double-right



