extends partial/_layout

block content
  main.page-product_card
    .container
      .row
        .col-12
          nav.breadcrumb-wrap
            ol.breadcrumb
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Главная
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Продукция
              li.breadcrumb-item.active Детальная страница
        .col-lg-3
          include partial/_asideShort
        .col-lg-9
          section.product-block
            .row
              .col-lg-5
                .slider-wrap
                  .slider-top.swiper-container.gallery-top
                    .swiper-wrapper
                      .swiper-slide
                        img.swiper-img-full(alt='', src='./img/pics/action.png')
                      .swiper-slide
                        img.swiper-img-full(alt='', src='./img/pics/news_pict_1.png')
                      .swiper-slide
                        img.swiper-img-full(alt='', src='./img/pics/ico_2.png')
                      .swiper-slide
                        img.swiper-img-full(alt='', src='./img/pics/news_pict_3.png')
                  .slider-thumbs.swiper-container.gallery-thumbs
                    .swiper-wrapper
                      .swiper-slide
                        img.swiper-img(alt='', src='./img/pics/action.png')
                      .swiper-slide
                        img.swiper-img(alt='', src='./img/pics/news_pict_1.png')
                      .swiper-slide
                        img.swiper-img(alt='', src='./img/pics/ico_2.png')
                      .swiper-slide
                        img.swiper-img(alt='', src='./img/pics/news_pict_3.png')
              .col-lg-7
                .desc-wrap
                  .row
                    .col-12
                      .item-id T12343212
                    .col-12
                      .item-title Бак для воды на 9999л
                    .col-lg-7
                      .item-info
                        .table-responsive
                          table.table
                            tbody
                              tr
                                td Объем
                                td 1500 л
                              tr
                                td Длина
                                td 1500 мм
                              tr
                                td Шириниа
                                td 750 мм
                              tr
                                td Высота
                                td 1650 мм
                    .col-lg-5
                      form
                        .item-cost
                          .price 20 709
                          .action
                            button.btn.orange(type="submit") В КОРЗИНУ
                          .location
                            i.mdi.mdi-map-marker-outline
                            select.selectpicker(data-header="Изменить наименование склада")
                              option Москва
                              option Санкт-Петербург
                              option Нижний Новгород
              .col-12
                .product-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequuntur ex fuga inventore ipsam

          section.other-block
            .row
              .col-12
                .block-title Комплектующие
              .col-12
                .swiper-container
                  .swiper-wrapper
                    .swiper-slide
                      .card-wrap
                        a.card-link(href="#")
                        .card-pic.img-wrap
                          img(src="./img/pics/bg_step.jpg")
                        .card-text
                          .card-id T12343212
                          .card-title.dot-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                          .card-price 203
                    .swiper-slide
                      .card-wrap.no-pic
                        a.card-link(href="#")
                        .card-text
                          .card-id T12343212
                          .card-title.dot-long
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                          .card-price 99 999
                    .swiper-slide
                      .card-wrap
                        a.card-link(href="#")
                        .card-pic.img-wrap
                          img(src="./img/pics/ico_1.png")
                        .card-text
                          .card-id T12343212
                          .card-title.dot-text
                            | Lorem ipsum dolor sit amet
                          .card-price 203
                    .swiper-slide
                      .card-wrap.no-pic
                        a.card-link(href="#")
                        .card-text
                          .card-id T12343212
                          .card-title.dot-long
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
                          .card-price 99 999
                    .swiper-slide
                      .card-wrap
                        a.card-link(href="#")
                        .card-pic.img-wrap
                          img(src="./img/pics/complect_3.png")
                        .card-text
                          .card-id T12343212
                          .card-title.dot-text
                            | Lorem ipsum
                          .card-price 203
                    .swiper-slide
                      .card-wrap.no-pic
                        a.card-link(href="#")
                        .card-text
                          .card-id T12343212
                          .card-title.dot-long
                            | Lorem ipsum
                          .card-price 99 999
                .swiper-navigation
                  .swiper-button-next
                  .swiper-button-prev



