extends partial/_layout

block content
  main.page-search
    .container
      .row
        .col-12
          nav.breadcrumb-wrap
            ol.breadcrumb
              li.breadcrumb-item
                a.breadcrumb-link(href='#') Главная
              li.breadcrumb-item.active Поиск по сайту
        .col-xl-3
          include partial/_asideShort
        .col-xl-9
          section.search-block
            .col-12
              .block-title-wrap
                h1.block-title Результаты поиска

            .col-12
              .block-results-search
                .result-search
                  .content-result-search
                    .content-title
                      | Баки для воды
                    .content-text
                      | ...пластик для воды и топлива выпускаются по ТУ 2291-00у5-17152852-01...
                .result-search
                  .content-result-search
                    .content-title
                      | Пластиковые ёмкости
                    .content-text
                      | ...все пластиковые баки проходят в стандартный дверной проём

              nav.pagination-wrap
                ul.pagination
                  li.page-item.active
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#') ...
                  li.page-item
                    a.page-link(href='#') 15
                  li.page-item
                    a.page-link(href='#') Следующая
                      i.mdi.mdi-chevron-right


